
<body>
  

    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="../../assets/queicon.jpg" id="icon" alt="no img found">
        </div>
        <br>
        <a >Create New Account</a>
        <br>
        <!-- Login Form -->
        <form>
          <input type="text" id="login" class="fadeIn first" name="login" placeholder="User name">
          <input type="text" id="email" class="fadeIn second" name="login" placeholder="Email address">
          <input type="text" id="password1" class="fadeIn third" name="login" placeholder="Create password">
          <input type="text" id="password2" class="fadeIn third" name="login" placeholder="Repeat password">
          <input type="submit" class="fadeIn fourth" value="Crete Account">
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover fadeIn fourth" routerLink="/login">Back to Login Page</a>
          <br>
          <br>
          <a class="underlineHover fadeIn fourth" routerLink="/index">Main Page</a>
        </div>
      </div>
    </div>
    </body>