
<body>
  

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/queicon.jpg" id="icon" alt="no img found">
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="User name">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover fadeIn fourth" routerLink="/registration">Create Account</a>
      <br>
      <br>
      <a class="underlineHover fadeIn fourth" routerLink="/index">Back</a>
    </div>
  </div>
</div>
</body>